.profilepic {
  width: 50px;
  height: 50px;
	border-radius: 50%;
  margin-top: 10px;
}

.other-profile {
  margin-left: -20px;
  margin-right: 13px;
}

.other-profile:hover, .navtext:hover, #header-tom:hover {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
}

.header {
  font-family: hollywood-hills;
  overflow: visible;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background: var(--red);
  -webkit-filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
}

.header a {
  float: left;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
}

#username {
  font-size: 25px;
  text-align: center;
}

#header-tom:hover #hint {
  display: block;
}

#hint {
  position: absolute;
  bottom: -22px;
  left: 85px;
  display: none;
  color: white;
  font-size: 14px;
}

#sitename {
  font-family: hollywood-hills;
}

#header-top {
  width: 100%;
  background-color: #1f1f1f;
  display: inline-block;
}

#header-tom, #header-others {
  float: left;
}

#header-top a {
  float: none;
  font-size: 22px;
  font-family: pineapple;
  vertical-align: middle;
}

#header-center a {
  font-size: 30px;
}

.header-right a {
  font-size: min(2vw, 18px);
}

.header-right, #header-github {
  float: right;
}

#header-top:hover img, .navtext:hover {
  transition: 0.3s;
  text-shadow: -3px 3px black;
  animation-duration: 1.5s;
}

#clapper {
  height: 50px;
  float: left;
  margin-left: -10px;
  padding: 5px;
}

#clapper:hover {
  -webkit-filter: drop-shadow(-3px 3px 0px black);
  filter: drop-shadow(-3px 3px 0px black);
  animation: Rotation 1s linear;
}

@keyframes Rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-dropdown {
  display: inline;
  float: left;
  overflow: visible;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  margin-top: 70px;
  max-width: 120px;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--light-grey);
  word-wrap: break-word;
}

.nav-dropdown-content a {
  white-space: normal;
  font-size: 14px;
  float: none;
  color: black;
  text-align: center;
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -10px;
  margin-bottom: -20px;
  line-height: 1.4;
}

.nav-dropdown-content p {
  float: left;
}

.nav-dropdown-content p:hover {
  background: -webkit-linear-gradient(var(--darkerblue), var(--darkblue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  #header-top, #header-center, .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #header-center a {
    font-size: 26px;
    font-size: min(5vw, 30px);
  }

  .header-right a {
    font-size: min(2.2vw, 18px);
  }

  .nav-dropdown-content a {
    font-size: min(2.6vw, 14px);
  }

  #header-tom a {
    font-size: min(4vw, 25px);
  }
}

@media screen and (max-width: 600px) {
  #header-top, #header-center, .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #header-center a {
    font-size: 26px;
    font-size: min(5vw, 30px);
  }

  .header-right {
    display: block;
    text-align: center;
  }

  .header-right a {
    font-size: 10px;
    display: block;
  }

  .nav-dropdown-content a {
    font-size: min(2.6vw, 14px);
  }

  #header-tom a {
    font-size: min(4vw, 25px);
  }
}
